# Local dev
Makefile
docker/db

# Symfony
code/symfony/.env
code/symfony/.env.local
code/symfony/.env.local.php
code/symfony/.env.*.local
code/symfony/config/secrets/prod/prod.decrypt.private.php
code/symfony/public/bundles/
code/symfony/var/
code/symfony/vendor/
code/symfony/phpunit.xml
.phpunit.result.cache
.phpunit.result.cache
code/symfony/phpunit.xml
code/symfony/public/assets/
code/symfony/assets/vendor/

# Ratchet
code/ratchet/vendor/