:root {
    --liblue: #b6f6f5;
    --blue: #08D9D6;
    --red: #FF2E63;
    --green: #2fda6e;
    --gold: #a48927;
    --lidark: #8392b5;
    --dark: #252A34;
    --light: #EAEAEA;
    --white: #FFF;

    --radius: 4px;
    --transition: .2s;
}

body {
    margin: 0;
    background: var(--dark);
}

.main {
    padding: 0 .5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second {
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Hi Melody", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
}

* {
    font-family: "Mada", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

button {
    background-color: var(--blue);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .5s;
}

button:active {
    background-color: var(--liblue);
}

input,
button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: .2rem;
    font-size: 1.2rem;
    padding: .2rem .5rem;
    color: var(--dark);
}

input[type="number"],
input[type="date"],
input[type="text"] {
    font-family: "Hi Melody", sans-serif;
    border: 2px solid var(--lidark);
    border-radius: var(--radius);
}

input:active,
input:focus,
input:focus-visible {
    border: 2px solid var(--liblue);
    outline: none;
}

label {
    display: none;
}

table {
    width: 100%;
    border: none;
}

th {
    text-align: left;
}

.container {
    padding: .5rem;
    background-color: var(--light);
    border: 1px solid var(--light);
    border-radius: var(--radius);
    width: 60vw;
    max-width: 400px;
}

.title h1,
.title p {
    color: var(--light);
    text-align: center;
    margin-block: .2rem;
}

/* LOGIN */
.login-title {
    margin-bottom: 1rem;
}

.login-avatar-select {
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.login-avatar svg {
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;
}

.login-avatar svg:first-child {
    left: calc(50% - 100px);
    transform: translateX(-50%);
}

.login-avatar svg:last-child {
    right: calc(50% - 100px);
    transform: translateX(50%);
}

.login-avatar .avatar {
    width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%);
}

.login-avatar .avatar img {
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}

/* LOBBY */
.lobby .slots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
}

.lobby .slot {
    position: relative;
}

.lobby .slot .slot-image {
    background-color: var(--lidark);
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    position: relative;
    overflow: hidden;
}

.lobby .slot .slot-image img {
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    margin: 0 auto;
    object-fit: cover;
}

.lobby .slot .slot-username {
    text-align: center;
    width: 80px;
    margin: 0 auto;
    background-color: var(--white);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.lobby .slot.current .slot-username {
    background-color: var(--dark);
    color: var(--white);
}

.lobby .slot .master-icon {
    position: absolute;
    color: var(--gold);
    top: -8px;
    right: 0;
    width: 1rem;
}

/* GAME */
.game .container p {
    text-align: center;
}

.game .game-container li {
    color: var(--red);
}

.game .game-container li.valid {
    color: var(--green);
}

.game .answer-container label {
    display: block;
}

.game .answer-container input {
    display: none;
}

.game .answer-container .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.game .answer-container .answer {
    list-style: none;
    text-align: center;
    background-color: var(--light);
    border-radius: var(--radius);
    border: solid 3px var(--dark);
    padding: 1rem;
    margin: .2rem;
    transition: border-color var(--transition);
}

.game .answer-container input:checked + label {
    border-color: var(--blue);
}

.leaderboard-container {
    margin-bottom: 2rem;
}

.leaderboard-container h2 {
    text-align: center;
}

.leaderboard-container .leaderboard td {
    padding: .2rem;
}

.leaderboard-container .leaderboard .leaderboard-username {
    display: flex;
    align-items: center;
}

.leaderboard-container .leaderboard .leaderboard-username img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    clip-path: circle(50% at 50% 50%);
}

.leaderboard-container .leaderboard .leaderboard-position,
.leaderboard-container .leaderboard .leaderboard-score {
    text-align: center;
}

.leaderboard-container .leaderboard .first,
.leaderboard-container .leaderboard .draw {
    background-color: var(--red);
    border: solid 2px var(--red);
}

.leaderboard-container .leaderboard .first td:first-child,
.leaderboard-container .leaderboard .draw td:first-child {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.leaderboard-container .leaderboard .first td:last-child,
.leaderboard-container .leaderboard .draw td:last-child {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.leaderboard-container .leaderboard .change-score {
    display: block;
    padding: .2rem;
    height: 1rem;
    width: 1rem;
    text-align: center;
    border-radius: var(--radius);
    background-color: var(--white);
    cursor: pointer;
}

.speed .speed-answer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    border: solid 2px var(--blue);
}

.speed .speed-answer-container.active {
    background-color: var(--blue);
}